<body>
<h2>Add Drugs</h2>

<form class="add-form" (ngSubmit)="saveDrugs()">
  <div class="form-group">
    <label for="batchId">Batch ID:</label>
    <input type="text" id="batchId" name="batchId" [(ngModel)]="newDrug.batchId" required>
  </div>

  <div class="form-group">
    <label for="drugName">Drug Name:</label>
    <input type="text" id="drugName" name="drugName" [(ngModel)]="newDrug.drugName" required>
  </div>

  <div class="form-group">
    <label for="supplierEmail">Supplier Email:</label>
    <input type="email" id="supplierEmail" name="supplierEmail" [(ngModel)]="newDrug.supplierEmail" required>
  </div>

  <div class="form-group">
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" [(ngModel)]="newDrug.quantity" required>
  </div>

  <div class="form-group">
    <label for="expiryDate">Expiry Date:</label>
    <input type="text" id="expiryDate" name="expiryDate" [(ngModel)]="newDrug.expiryDate" required>
  </div>

  <div class="form-group">
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" [(ngModel)]="newDrug.price" required>
  </div>

  <button type="submit" (click)="saveDrugs()">Add Drug</button>
</form>
</body>
