<form>
    <div class="form-group">
      <label for="batchId">Batch ID</label>
      <input type="text" class="form-control" id="batchId" [(ngModel)]="drug.batchId">
    </div>
    <div class="form-group">
      <label for="drugName">Drug Name</label>
      <input type="text" class="form-control" id="drugName" [(ngModel)]="drug.drugName">
    </div>
    <div class="form-group">
      <label for="supplierEmail">Supplier Email</label>
      <input type="text" class="form-control" id="supplierEmail" [(ngModel)]="drug.supplierEmail">
    </div>
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="number" class="form-control" id="quantity" [(ngModel)]="drug.quantity">
    </div>
    <div class="form-group">
      <label for="expiryDate">Expiry Date</label>
      <input type="text" class="form-control" id="expiryDate" [(ngModel)]="drug.expiryDate">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" [(ngModel)]="drug.price">
    </div>
    <button type="button" class="btn btn-primary" (click)="updateDrug()">Update</button>
  </form>
  