<router-outlet></router-outlet>
<header>
  <div class="logo">
    <a routerLink="" routerLinkActive="active">
    <img src="https://www.sarasolutions.in/assets/images/products/pharm1.png" alt="Pharmacy Management System Logo">
  </a>
  </div>
  <div class="headline">
    <h1>Welcome to the Pharmacy Management System</h1>
  </div>
  <div class="actions">
    <div class="login">
      <a routerLink="" routerLinkActive="active">
        <button>Logout</button>
      </a>
    </div>
  
    <div class="register">
      <a routerLink="/register" routerLinkActive="active">
        <button>Register</button>
      </a>
    </div>
    <div class="register">
      <a routerLink="">
        <button>Home</button>
      </a>
    </div>
  </div>
</header>
