
<h1 class="welcome-heading">Welcome, Customer</h1>
<h2 class="subheading">Please select an option to proceed further:</h2>
<div class="dashboard">
    <div class="card" (click)="navigateTo('view-drugs')">
      <h2>View Drugs</h2>
      <p>View the list of available drugs</p>
    </div>
  
    <div class="card" (click)="navigateTo('search-drugs')">
      <h2>Search Drugs</h2>
      <p>Search for drugs in the inventory</p>
    </div>
  
    <div class="card" (click)="navigateTo('buy-drugs')">
      <h2>Buy Drugs</h2>
      <p>Purchase drugs for personal use</p>
    </div>
    <a href="https://www.1mg.com/?wpsrc=Google+Organic+Search">
    <div class="card" >
      <h2>Know More About These Drugs</h2>
      <p>Get detailed information about the drugs</p>
    </div>
  </a>
  </div>

  
